/*========= Footer =========*/
div {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
.page-footer > .wrapper::after {
  content: ".";
  font-size: 0;
  height: 1px;
  width: 100%;
  display: block;
  clear: both;
}

.page-footer {
  background: #111111;
  flex-shrink: 0;
  position: relative;
  bottom: 0;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
}

.footer-col {
  width: 24%;
  float: left;
}
.footer-col:last-child {
  width: 26%;
}

.page-footer h3 {
  font-size: 13px;
  text-transform: uppercase;
}

.page-footer h3::after {
  content: ".";
  font-size: 0;
  width: 90%;
  height: 1px;
  background: #292929;
  display: block;
  margin: 15px 0;
}

.page-footer li {
  font-size: 13px;
  color: #999;
  line-height: 1.6;
}

.page-footer li:hover {
  color: #fff;
  cursor: pointer;
}

.copy {
  color: #585858;
  margin-top: 32px;
}
.social a {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #000;
  margin-left: 5px;
  color: #fff;
  text-align: center;
  line-height: 44px;
}

.social a:hover {
  background: rgb(155, 9, 119);
  color: #ff0000;
}

.social li {
  display: inline-block;
}

i {
  color: deeppink;
}
footer h3 {
  color: #fff;
  margin-left: 18px;
}
@media only screen and (max-width: 460px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer-col {
    width: 100vw;
    text-align: center;
  }
  .copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .copy p {
    justify-content: center;
    align-items: center;
    padding: 0 50px;
  }

  .social {
    justify-content: center;
    margin: 0 auto;
  }
}
